h5,
h3.quote-in-text,
em
{
    font-family: 'sladkoeshka';
    font-size: 0.9em;
}

.quote-in-text
{
    font-family: 'Lobster', cursive;
    font-size: 0.7em;
    margin: 5px;
}

h3.quote-in-text
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    font-size: 1.5em;
}

.quote
{
    font-family: 'Lobster', cursive;
    font-size: 1em;
}

[name="paradoxes"],
.quote-border
{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

article{
    font-family: 'allodswest';
    padding: 5px;
    hyphens: auto;
    -webkit-column-rule: 1px solid #111;
    -moz-column-rule: 1px solid #111;
    column-rule: 1px solid #111;
    text-indent: 15px;
}

h1
{
    font-size: 55px;
    font-family: 'Bad Script', cursive;
}

h3
{
    font-family: 'scraps_cyrregular';
    font-weight: bold;
    font-size: 1.3em;
}

.page-footer
{
    text-align: center;
    font-family: 'Neucha', cursive;
}

[name="way-to-travel"] em
{
    font-size: 1em;
    font-family: 'Lobster', cursive;
}

[name="future-is-now"]
{
    border-bottom: 1px solid #111  ;
}

[itemprop="description"]::first-letter,
[name="future-is-now"] p::first-letter,
[name="paradoxes"] p::first-letter,
[name="way-to-travel"] p::first-letter,
.quote p::first-letter
{
    font-size: 2em;
}

h1,
h3,
h4,
h5,
.center
{
    text-align: center;
}

.more-left-header,
.left-header,
.middle-header,
.right-header
{
    float: left;
    margin-bottom: 5px;
}

.more-left-header
{
    width: 1%;
}

.left-header
{
    width: 15%;
    border: 1px solid #111;
    margin: 40px auto auto 20px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Neucha', cursive;
}

.middle-header
{
    width: 53%;
    text-align: center;
}

.vertical-text
{
    width: 3px;
    font-size: 9px;
    word-wrap: break-word;
    font-family: 'Lobster', cursive;

}

.bold
{
    font-weight: 900;
}

article[name="paradoxes"]
{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;

}

article[name="future-is-now"],
article[name="grandma"],
article[name="way-to-travel"],
article.quote
{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 1px auto;
}

[name="future-is-now"],
[itemprop="description"],
[name="grandma"]  p
{
    font-size: 1em;
}

.first-column
{
    width: 20%;
    border: 1px solid #111;
}

.second-column
{
    width: 59%;
    border: 1px solid #111;
}

.third-column
{
    width: 20%;
    border: 1px solid #111;
}

.first-column,
.second-column,
.third-column
{
    display: table-cell;
}

section
{
    display: table;
    table-layout: fixed;
}

figure
{
    width: 100%;
    margin: 0;
    text-align: center;
}

img
{
    display: block;
    margin: auto;
}

hgroup
{
    display: block;
    margin: 0 auto 10px;
    width: 30%;
}

li{
    text-align: left;
    text-indent: 0;
    padding: 4px;
}

main
{
    padding: 3px;
    margin: 3px;
}

.spoiler
{
    color: #f00;
}

[measure="femto"]
{
    text-decoration: underline;
}

main
{
    min-height: 2400px;
}

header
{
    min-height: 200px;
}

.font-style-filter[value="neucha"]:checked ~ main article:not(.quote)
{
    font-family: 'Neucha', cursive;
}

.newspaper-style-filter[value="black"]:checked ~ header,
.newspaper-style-filter[value="black"]:checked ~ main,
.newspaper-style-filter[value="black"]:checked ~ footer {
    background-color: #000;
    color: #fff;
}

.newspaper-style-filter[value="black"]:checked ~ main article,
.newspaper-style-filter[value="black"]:checked ~ header,
.newspaper-style-filter[value="black"]:checked ~ header .left-header
{
    -webkit-column-rule-color: #fff;
}

.newspaper-style-filter[value="black"]:checked ~ main [name="paradoxes"],
.newspaper-style-filter[value="black"]:checked ~ main .quote-border
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.newspaper-style-filter[value="black"]:checked ~ main .first-column,
.newspaper-style-filter[value="black"]:checked ~ main .second-column,
.newspaper-style-filter[value="black"]:checked ~ main .third-column,
.newspaper-style-filter[value="black"]:checked ~ main [name="future-is-now"]
{
    border: 1px solid #fff;
}

.font-size-filter[value="big"]:checked ~ main
{
    font-size: 25px;
}

.font-size-filter[value="normal"]:checked ~ main
{
    font-size: 20px;
}

.font-size-filter[value="small"]:checked ~ main
{
    font-size: 15px;
}
